<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Store Home</title>
  </head>
  <body>
    <h1>EXAMPLE ONLY - HOME PAGE WITH CATEGORIES AND GENDER STORE DIVISIONS GO HERE</h1>
    
 <!-- In your home.ejs view page: -->
 <h1>Men's Products</h1>
 <% categoriesByGender.forEach(category => {
   if (category.product_category_sex_id === 2) { %>
     <p><%= category.product_category_name %></p>
     <img src="<%= category.product_category_image %>">
   <% }
 }); %>
 <h1>Women's Products</h1>
 <% categoriesByGender.forEach(category => {
   if (category.product_category_sex_id === 1) { %>
     <p><%= category.product_category_name %></p>
     <img src="<%= category.product_category_image %>">
   <% }
 }); %>
 <h1>Kids' Products</h1>
 <% categoriesByGender.forEach(category => {
   if (category.product_category_sex_id === 3) { %>
     <p><%= category.product_category_name %></p>
     <img src="<%= category.product_category_image %>">
   <% }
 }); %>
 <h1>Unisex Products</h1>
 <% categoriesByGender.forEach(category => {
   if (category.product_category_sex_id === 4) { %>
     <p><%= category.product_category_name %></p>
     <img src="<%= category.product_category_image %>">
   <% }
 }); %>



  </body>
</html>