<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Store Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">

  </head>
  <body>

    <!-- Navbar with Mega Menu -->
    <%- include('./navbar.ejs') %>

    
 <!-- In your home.ejs view page: -->
<!-- Gender Departments (M, W, kids, Unisex)
Product Category (T-shirt, Shorts)
Products () -->
 <main class="container">
    <% data.forEach(function(element) { %>

      <div class="box">
        <img
          src="<%= element.product_category_gender_image %>"
          alt="<%= element.product_category_gender_name %>"
        />
        <a  href="/product-categories/<%=element.id%>"><%= element.product_category_gender_name %></a>
      </div>
   

    <% }); %>
    
    </main>

    <footer>
      <h3 class="footer"><a href="Contact Us">Contact Us</a></h3>
      <h3 class="footer"><a href="Returns">Returns</a></h3>
    </footer>
  </body>

<!-- add event listener to grab and return e.target.attribute("data-id") -->



      <script type="application/javascript" src="js/home.js"></script>
  </body>
</html>