<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= data3.at(-1); %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
  </head>
  <body>

        <!-- Navbar with Mega Menu -->
        <%- include('./navbar.ejs') %>


    <h1><%= data3.at(-1); %></h1>
    <% data3.forEach(function(element) { %>
      <a href="/product/<%=element.id%>"><div class="product-img card" data-product_id=<%=element.id%>>
        <h2><%= element.product_name %></h2>
        <img src="<%= element.product_image %>" />
      </div></a>
    <% }); %>

  </body>
</html>