<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= data4.at(-1) %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
  </head>
  <body>

        <!-- Navbar with Mega Menu -->
        <%- include('./navbar.ejs') %>


    <% data4.forEach(function(element) { %>
      <div class="product-img card" data-product_id=<%=element.id%>>
        <h1><%= element.product_name %></h1>
        <img src="<%= element.product_image %>" />
        <% if (element.price != null) { %>
          <button class="add-to-cart-btn" type="button">Add to Cart</button>
          <p>Price: $<%= element.price %></p>
        <% } %>
        <% if (element.stock != null) { %>
          <p>Stock: <%= element.stock %></p>
        <% } %>

        <p><%= element.description %></p>
      </div>
    <% }); %>

  </body>
</html>